.table {
    margin: 1rem;
  
    display: flex;
    flex-direction: column;
   
    border-radius: 30px;
    opacity: 90%;
  }
  
  tbody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    min-height: 700px;
    border-radius: 40px;
  }
  tr {
    margin: 0.2rem;
    border-radius: 30px;
    background-color: #282c34;
    padding: 1rem;
    max-width: 20rem;
    color: aliceblue;
  }