body {
  height: 100vh;
  background: linear-gradient(15deg, rgb(0, 0, 0), transparent),
    repeating-linear-gradient(
      100deg,
      rgb(183, 0, 255) 2%,
      rgb(123, 27, 161) 6%,
      rgb(129, 109, 136) 5%,
      transparent 10%
    );
}
.App {
  text-align: center;
}
h3 {
  font-size: 50px;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: #282c34;
  width: 20%;
  padding-top: 1rem;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  margin: 1rem;

  display: flex;
  flex-direction: column;
 
  border-radius: 30px;
  opacity: 90%;
}

tbody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  min-height: 700px;
  border-radius: 40px;
}
tr {
  margin: 0.2rem;
  border-radius: 30px;
  background-color: #282c34;
  padding: 1rem;
  max-width: 20rem;
  color: aliceblue;
}
form {
  padding: 2rem;
}