body {
  height: 100vh;
  background: linear-gradient(45deg, rgb(76, 0, 255), transparent),
    repeating-linear-gradient(
      45deg,
      rgb(183, 0, 255) 0%,
      rgb(183, 0, 255) 5%,
      transparent 5%,
      transparent 10%
    );
}
.App {
  text-align: center;
}
h3 {
  font-size: 50px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

tbody {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
tr {
  margin: 0.2rem;
  border-radius: 30px;
  background-color: #282c34;
  padding: 1rem;
  max-width: 20rem;
  color: aliceblue;
}
